.container {
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-template-rows: 1fr 11fr;
    justify-items: flex-start;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
 }


 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  li {
    flex-grow: 1;
  }
  
  a {
    display: block;
    padding: 1em;
    background-color: lightsteelblue;
    text-align: center;
    margin-bottom: 0.2em;
    text-decoration: none;
    color: #000000;
    
  }
  
  a:hover {
    background-color: lightslategray;
  }

  .leftmenu {
    background-color: lightcoral;
  }