body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700,900&display=swap');

#root {
  width: 100%;
  height: 100%;
}